@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&family=Raleway:ital@1&family=Ubuntu&display=swap');

$colorDeco:rgba(209, 198, 198, 0.938);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #0a021d, #4c094e, #a51f93, #bd29b5, #dc12d3); 
    font-family: 'Raleway', sans-serif;
    color: white;
}

/*Header*/

nav ul{
    gap: 1rem;
    margin-right: 9rem;
}

nav ul li{
    font-size: 1.25rem;
    font-weight:300;
}

nav ul li a{
    font-family: 'Ubuntu', sans-serif;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: rgb(231, 38, 189) !important;
}

#navlogo {
    width: 30%;
    margin-left: 10rem;
}

header{
    border-bottom: 2px solid #f181c6;
}

.card-photo{
    width: 100%;
    height: 100%;
}

.card-photo img{
    width: 100%;
}


/*Main*/
.leyenda{
    font-size: 1.8rem;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    padding: 1.5rem;
    border-bottom: 2px solid #f181c6;
}

span {
	color: transparent;
	animation: blur 8s ease-out infinite;
	-webkit-animation: blur 8s ease-out infinite;
}

span:nth-child(1) {
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}
span:nth-child(2) {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
span:nth-child(3) {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
span:nth-child(4) {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
span:nth-child(5) {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
span:nth-child(6) {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}
span:nth-child(7) {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
span:nth-child(8) {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}


@keyframes blur {
	0%		{text-shadow:  0 0 100px #fff; opacity:0;}
	5%		{text-shadow:  0 0 90px #fff;}
	15%		{opacity: 1;}
	20%		{text-shadow:  0 0 0px #fff;}
	80%		{text-shadow:  0 0 0px #fff;}
	85%		{opacity: 1;}
	95%		{text-shadow:  0 0 90px #fff;}
	100%	{text-shadow:  0 0 100px #fff; opacity:0;}
}

@-webkit-keyframes blur {
	0%		{text-shadow:  0 0 100px #fff; opacity:0;}
	5%		{text-shadow:  0 0 90px #fff;}
	15%		{opacity: 1;}
	20%		{text-shadow:  0 0 0px #fff;}
	80%		{text-shadow:  0 0 0px #fff;}
	85%		{opacity: 1;}
	95%		{text-shadow:  0 0 90px #fff;}
	100%	{text-shadow:  0 0 100px #fff; opacity:0;}
}


.slogan{
    font-style: italic;
    font-size: 1.25rem;
    text-align: center;  
}

.fa-chevron-up{
    color: rgb(211, 202, 209);
    font-size: 2rem;
    position: fixed;
    bottom: 5%;
    right: 3%;
}

/*Footer*/
footer{
    border-top: 2px solid #ec22ba;
}
.container-footer .red{
    font-weight: 600;
    text-shadow: 4px 6px 2px rgba(63, 5, 50, 0.6);
    text-align: left;
    margin-top: 1rem 0 2rem 1.5rem;
    margin-left: 2.5rem;
}

.redes-sociales{
    display: flex;
    display: inline-block;
    justify-content: space-between;
}

.redes-sociales img{
    width: 2.5rem;
    height: 2.5rem;
}

.face{
    margin-left: 10rem;
}

.insta, .twitter{
    margin-left: 1rem;
}

.container-logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 7rem;
    height: 7rem;
}

/* CONTACTO*/

.line{
    height: .12rem;
    border-color: #f181d9;
}

.container-contacto{
    font-family: 'Raleway', sans-serif;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.contactUs{
    text-align: center;
    font-size: 3rem;
}

.contenedor-gral{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contenedor-gral > *{
    padding: 1rem;
}

.contenedor-form{
    background-color: #222222;
}

.contenedor-map{
    background-color: #000;
}

.contenedor-map ul{
    list-style: none;
    padding: 0;
}

.contenedor-map ul li{
    padding: .3rem;
}

.contenedor-form form{
    margin: 0;
    padding: 1rem;
}

.contenedor-form form input,
.contenedor-form .botonEnviar,
.contenedor-form textarea{
    width: 100%;
    padding: .7rem;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #4c094e;
    color: white;
}

.contenedor-form .botonEnviar{
    background-color: 
    #4c094e;
    border: none;
    padding: 1rem;
}

.contenedor-form .botonEnviar:hover,
.contenedor-form .botonEnviar:focus{
    background: #a51f93;
    color: #4c094e;
    transition: background-color 1s ease-out;
    outline: none;
    font-weight: 900;
}

.contenedor-map h4,
.contenedor-map h6,
.contenedor-map ul,
.contenedor-map p{
    text-align: center;
    margin: 0 0 1rem 0;
}

@media(min-width: 768px) {
    .container-contacto{
        padding: 0 4rem;
        margin-bottom: 1rem;
    }
    .contenedor-gral {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}
    


/*NOSOTROS*/

.nos1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.nos{
    text-align: justify;
    width: 70%;
    margin: 2rem auto;
}

.carousel-item{
    height: fit-content;
}


.slider-frase{
    color: rgb(34, 32, 32);
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
    text-align:center;
}

.asoc{
    margin-top: 1.5rem;
    font-size: 1.3rem;
}
.container{
    width: 100%;
    max-width: 100%;
    height: fit-content; /* ajustar en altura el contenedor*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.frase-final{
    text-align: right;
    margin-right: 2rem;
}
.container .card{
    width: 300px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 1.5s;
    h4{
        font-weight: 600;
    }
    p{
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    }
}

.container .card:hover{
    transform:scale(1.05);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*ACA USO EL EACH*/

.arquitecto-ph, 
.diseñador-ph,
.decoradora-ph,
.diseñadora-ph,
.secretaria-ph,
.director-ph{
    width: 350px;
    height: 350px;
}

$lista: arquitecto, diseñador, decoradora, diseñadora, secretaria, director;

@each $profesionales in $lista{
    .#{$profesionales}-ph{
        background-image: url("../img/#{$profesionales}.jpg");
        background-size: cover;
        background-position:center;
    }  
}

.card{
    background-color: #13010e;
}

.director-ph{
    background-position: top;
}

/*ARQUITECTURA*/
.title{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-top: .5rem;
    padding: 2rem;
}

.container-gral{
    width: 70%;
    margin: auto;
    padding: 20px;
    .sub-text{
        margin-left: 5%;
    }
    .text-inicio{
        display: block;
        margin: auto;
        width: 90%;
    }
    .video{
        display: block;
        margin: auto;
        width: 90%;
        margin-top: 20px;
    }
}

.card-title .card-text{
    font-size: 1.5rem;
    font-weight: 800;
}

.ez{
    width: 20%;
    margin-top: 50px;
    margin-right: 90px;
    transition: 1.5s;
}

.ez:hover{
    transform:translate(250px);
}


/* GALERIA */

.titulo1{
    text-align: center;
    font-family: 'Libre Bodoni', serif;
}

.first{
    width: 100%;
    padding: 10px;
    h2{
        margin-left: 30px;
    }
}

.container-casas{
    background-color: $colorDeco;
    display: grid;
    height: 900px;
    width: 100%;
    padding-bottom: 10px;
    .do{
        margin: 10px;
    }
}

.container-deco{
    @extend .container-casas;
    .do{
        margin: 10px;
        border-radius: 10px;
        transition: transform .5s linear;
    }
}

.casa1{
    background-image: url(../img/casa14.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
    background-size: cover;
    background-position: center;
}

.casa2{
    @extend .casa1;
    background-image: url(../img/casa4.jpg);
    grid-column: 1/2;
    grid-row: 3/4;
}

.casa3{
    @extend .casa1;
    background-image: url(../img/casa6.jpg);
    grid-column: 2/4;
    grid-row: 3/4;
}

.casa4{
    @extend .casa1;
    background-image: url(../img/casa2.jpg);
    grid-column: 3/4;
    grid-row: 1/3;
}

.casa5{
    @extend .casa1;
    background-image: url(../img/casa21.jpg);
    grid-column: 4/5;
    grid-row: 1/2;
}

.casa6{
    @extend .casa1;
    background-image: url(../img/EZ-remove.png);
    background-color: $colorDeco;
    grid-column: 4/5;
    grid-row: 2/4;
}

.casa7{
    @extend .casa1;
    background-image: url(../img/casa19.jpg);
    grid-column: 1/3;
    grid-row: 4/6;
}

.casa8{
    @extend .casa1;
    background-image: url(../img/casa15.jpg);
    grid-column: 3/4;
    grid-row: 4/6;
}

.casa9{
    @extend .casa1;
    background-image: url(../img/casa16.jpg);
    grid-column: 4/5;
    grid-row: 4/6;
}

.casa10{
    @extend .casa1;
    background-image: url(../img/casa11.jpg);
    grid-column: 1/2;
    grid-row: 6/8;
    height: 30%;
    width: 50%;
}

.deco1{
    @extend .casa1;
    background-image: url(../img/deco20.jpg);
    grid-column: 3/5;
    grid-row: 1/3;
}

.deco2{
    @extend .casa1;
    background-image: url(../img/deco1.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
}

.deco3{
    @extend .casa1;
    background-image: url(../img/EZ-remove.png);
    background-color: $colorDeco;
    grid-column: 1/2;
    grid-row: 3/5;
}

.deco4{
    @extend .casa1;
    background-image: url(../img/deco9.jpg);
    grid-column: 2/3;
    grid-row: 3/4;
}
.deco5{
    @extend .casa1;
    background-image: url(../img/deco18.jpg);
    grid-column: 2/3;
    grid-row: 4/5;
}

.deco6{
    @extend .casa1;
    background-image: url(../img/deco16.jpg);
    grid-column: 3/4;
    grid-row: 3/4;
}

.deco7{
    @extend .casa1;
    background-image: url(../img/deco17.jpg);
    grid-column: 4/5;
    grid-row: 3/4;
}

.deco8{
    @extend .casa1;
    background-image: url(../img/deco13.jpg);
    grid-column: 3/5;
    grid-row: 4/6;
}

.deco9{
    @extend .casa1;
    background-image: url(../img/deco23.jpg);
    grid-column: 1/3;
    grid-row: 5/6;
}

.ext1{
    @extend .casa1;
    background-image: url(../img/ext3.jpg);
    grid-column: 1/2;
    grid-row: 1/4;
}

.ext2{
    @extend .casa1;
    background-image: url(../img/ext6.jpg);
    grid-column: 3/4;
    grid-row: 1/2;
}

.ext3{
    @extend .casa1;
    background-image: url(../img/ext4.jpg);
    grid-column: 2/3;
    grid-row: 1/2;
}

.ext4{
    @extend .casa1;
    background-image: url(../img/ext9.jpg);
    grid-column: 4/5;
    grid-row: 1/2;
}

.ext5{
    @extend .casa1;
    background-image: url(../img/ext12.jpg);
    grid-column: 2/3;
    grid-row: 3/4;
}

.ext6{
    @extend .casa1;
    background-image: url(../img/ext5.jpg);
    grid-column: 3/4;
    grid-row: 2/4;
}

.ext7{
    @extend .casa1;
    background-image: url(../img/ext15.jpg);
    grid-column: 4/5;
    grid-row: 3/5;
}

.ext8{
    @extend .casa1;
    background-image: url(../img/ext11.jpg);
    grid-column: 4/5;
    grid-row: 2/3;
}

.ext9{
    @extend .casa1;
    background-image: url(../img/ext1.jpg);
    grid-column: 2/3;
    grid-row: 2/3;
}

.ext10{
    @extend .casa1;
    background-image: url(../img/ext2.jpg);
    grid-column: 1/3;
    grid-row: 4/6;
}

.ext11{
    @extend .casa1;
    background-image: url(../img/ext10.jpg);
    grid-column: 4/5;
    grid-row: 5/6;
}

.ext12{
    @extend .casa1;
    background-image: url(../img/ext18.jpg);
    grid-column: 3/4;
    grid-row: 4/6;
}

.container-casas .do{
    border-radius: 10px;
    transition: transform .5s linear;
}

.container-casas .do:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgb(56, 6, 58);
}

.container-deco .do:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgb(56, 6, 58);
}

.last{
    padding: 10px;
}

@media screen and (max-width: 1020px){
    .container-casas,
    .container-deco{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }

    .casa3{
        grid-column: 2/3;
        grid-row: 3/4;
        height: 200px;
    }
    .casa5{
        grid-column: 1/2;
        grid-row: 6/8;
    }

    .casa6{
        grid-column: 2/3;
        grid-row: 6/8;
        height: 250px;
    }

    .casa8{
        grid-column: 3/4;
        grid-row: 3/6;
    }

    .casa9{
        grid-column: 3/4;
        grid-row: 6/8;
    }

    .deco1{
        grid-column: 1/2;
        grid-row: 6/8;
    }

    .deco3{
        grid-column: 1/2;
        grid-row: 4/6;
    }

    .deco4{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .deco5{
        grid-column: 2/3;
        grid-row: 3/6;
    }

    .deco6{
        grid-column: 3/4;
        grid-row: 3/5;
    }

    .deco7{
        grid-column: 3/4;
        grid-row: 1/3;
    }

    .deco8{
        grid-column: 2/3;
        grid-row: 6/8;
    }

    .deco9{
        grid-column: 3/4;
        grid-row: 5/8;
    }

    .ext4{
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .ext7{
        grid-column: 3/4;
        grid-row: 6/8;
    }

    .ext8{
        grid-column: 2/3;
        grid-row: 6/8;
    }

    .ext11{
        grid-column: 1/2;
        grid-row: 7/8;
    }
}

@media screen and (max-width: 768px){
    .container-casas{
        display: flex;
        width: 95%;
        height:fit-content;
        flex-wrap: wrap;
        gap: 10px;
        .do{
            width: 100%;
            min-height: 300px;
        }
    }
    .container-gral{
        width: 95%;
    }
}


/*DECORACIÓN*/

#main-deco{
    width: 100%;
}

.container-foto{
    width: 100%;
    height: fit-content;
    display: inline-block;
    h1{
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    p{
        text-align: justify;
        width: 70%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;

    }
    h2{
        text-align:justify;
        width: 70%;
        margin: auto;
        margin-bottom: 2rem;
    }    

    .foto-deco{
        display: block;
        width: 60%;
        margin: auto;
    }
}

.card .bg-transparent{
    border: none;
}

.card-chica{
    font-size: 1rem;
}





